# Ignore everything
/*

!.github
!app
!bin
!config
!routes
!test
!public/index.html
!.env.*
!.eslintrc.*.js
!.gitignore
!.travis.yml
!app.js
!gulpfile.js
!LICENSE
!package.json
!README.md
!supersamples.opts
!webpack.config.js
