# Ignore everything
/*

!.github
!app
!bin
!config
!routes
!test
!public
public/bundle.js
!.env.dev
!.env.prod
!.gitignore
!.travis.yml
!app.js
!LICENSE
!package.json
!README.md
!supersamples.opts
!webpack.config.js
